input{

    font-size: 15px;
    height: 40px;
    width:250px ;
}
label{

    font-size: 15px;
}

select{

    font-size: 15px;
    height: 30px;
    width:200px ;

}

option{

    font-size: 15px;
    height:30 px;
    width:200px ;
}
button{

    font-size: 15px;
    height:50 px;
 
    
}
td{
    font-size: 15px;

}
th{
    font-size: 15px;

}