<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  
      
<br>
    <div >
        <h1 style="text-align: center">Nueva Factura</h1>

   
  </div>
  <div class="container" > 
    <div class="row ">
       
     
        <div class="col-lg-5 ">
   
  </div> 
  <div class="col-lg-5 ">
      
    </div>
    <div class="col-lg-5 ">
        <div class="form-group ">
            <label for="identificacion">Identificación</label> 
          <input type="number"  [(ngModel)]="cliente.id"  class="form-control form-control-lg" placeholder="Identificacion" name="identificacion" id="identificacion"     >
        </div>
       
            <div class="form-group ">
                <label for="telefono">Teléfono</label> 
              <input type="text"  class="form-control form-control-lg" readonly="readonly" [(ngModel)]="cliente.telefono" placeholder="Telefono" name="telefono" id="telefono"     >
            </div>
      
      </div>
      <div class="col-lg-5 ">
          <div class="form-group ">
              <label for="nombre">Nombre</label> 
            <input type="text" [(ngModel)]="cliente.nombres" readonly="readonly"  class="form-control form-control-lg" placeholder="Nombre" name="nombre" id="nombre"     >
          </div>
      
              <div class="form-group ">
                  <label for="direccion">Dirección</label> 
                <input type="text" [(ngModel)]="cliente.direccion" readonly="readonly" class="form-control form-control-lg" placeholder="Direccion" name="direccion" id="direccion"     >
              </div>
        
        </div>
        
        <div class="col-lg-2 ">
        
          <label>-</label> 
          <button (click)="BuscarCliente()" class="btn btn-primary btn-block">Buscar</button>


        </div>
</div>
<div class="row">
<div class="col-lg-8 ">
  <table class="table">
<tr>

  <th>Referencia</th>
  <th>NombreProducto</th>
  <th>ValorUnitario</th>
  <th>Cantidad</th>
  <th>ValorTotal</th>
  <th></th>
</tr>
<tr *ngFor="let co of comprasConsulta">
  
  <td>{{co.producto.id}}</td>
  <td>{{co.producto.nombre}}</td>
  <td>{{co.producto.precio}}</td>
  <td>{{co.cantidad}}</td>
  <td>{{co.subtotal}}</td>
  <td><button class="btn btn-primary btn-block" style="height: 30px; width: 30px;font-size:10px; text-align: center;background: red" (click)="deleteCompra(co.id)">x</button></td>
  
</tr>
   
  </table>
</div>
<div class="col-lg-1 "></div>
<div class="col-lg-3 ">
    <div class="form-group ">
        <label for="producto">Referencia</label> 
        <select class="form-control" (change)="mostrar()" id="referencia" name="referencia" > 
            <option selected="selected">
                Seleccione...
                </option>
            <option  *ngFor="let p of productos" [value]="p.id">{{p.id}}</option>
        </select>
    </div>
    <div class="form-group ">
      <label for="nombre">Nombre</label> 
    <input type="text"  [(ngModel)]="producto.nombre" readonly="readonly" class="form-control form-control-lg" placeholder="Nombre" name="nombreProducto" id="nombreProducto"     >
  </div>
    <div class="form-group ">
        <label for="cantidad">Cantidad</label> 
      <input type="text"  class="form-control form-control-lg" placeholder="Cantidad" name="cantidad" id="cantidad"     >
    </div>
    <div class="form-group ">
        <label for="precio">Precio</label> 
      <input type="text"  [(ngModel)]="producto.precio" class="form-control form-control-lg" placeholder="Precio" name="precio" id="precio"     >
    </div>
</div>
</div>
<br>
<div class="row">
<div class="col-lg-4">
    
  <button (click)="addCompra()" class="btn btn-primary btn-block">Añadir</button>
</div>
<div class="col-lg-4">
  <button (click)="deleteCompra()" class="btn btn-primary btn-block">Eliminar</button>
</div>
<div class="col-lg-4">
  <button (click)="add()" class="btn btn-primary btn-block">Guardar</button>
</div>
</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>