<div *ngIf="producto">
  <div class="container">
      <h1 >Detalle Producto</h1>
      </div>
  <div class="row">
      <div class="col-lg-2 ">
        
        
 </div>
 
<div  class="col-lg-10">
<br>


<div class="form-group">
<label>Referencia:

</label>
<input [(ngModel)]="cliente.id" readonly="readonly" class="form-control" 
placeholder="digite titulo" type="text" /> 
</div>
<div class="form-group">
<label>Nombre:
<input [(ngModel)]="producto.nombre"  class="form-control"  placeholder="digite nombre" type="text"/>
</label>
</div>
<div class="form-group">
<label>Precio:
<input [(ngModel)]="producto.precio" class="form-control" placeholder="digite precio " type="number" />
</label>
</div>


</div>
</div>

<div class="row">
  <div class="col-lg-2 ">
    
    
</div>
<div class="col-lg-4 ">

<div class="form-group">
  <button (click)="update()" class="btn btn-primary">Actualizar</button>
</div>
</div>
<div class="col-lg-2 ">
    
    
</div>
<div class="col-lg-4 ">
<div class="form-group">
  <button (click)="delete()" class="btn btn-primary">Eliminar</button>
</div>
  </div>
</div>
</div>